/* style.css */

/* Réinitialisation des marges et des paddings */
body {
  margin: 0;
  padding: 0;
  font-family: var(
    --font-family-text
  ); /* Utilisation de la variable pour le texte */
  background-color: var(
    --body-backgroud-color
  ); /* Couleur de fond par défaut */
  min-height: 100vh; /* Garantit que le fond s'étend sur toute la hauteur de la vue */
  display: flex;
  flex-direction: column;
}

/* Styles pour l'en-tête */
header {
  font-family: var(
    --font-family-title
  ); /* Utilisation de la variable pour le titre */
  background: linear-gradient(
    to bottom,
    var(--primary-color) 0%,
    var(--body-backgroud-color) 100%
  ); /* Dégradé de couleur du header vers le body */
  color: #434343;
  padding: 20px;
  text-align: center;
  margin-bottom: 0; /* Supprime la marge en bas du header */
}

/* Styles pour le contenu principal */
.content {
  padding: 20px;
  text-align: center;
  flex: 1; /* Fait en sorte que le contenu principal occupe l'espace restant */
}

/* Media query pour les petits écrans */
@media (max-width: 576px) {
  header {
    padding: 10px;
  }
  .content {
    padding: 10px;
  }
}

/* Styles pour le carrousel */
#carouselExampleIndicators {
  width: 100%; /* Largeur définie pour le carrousel */
  margin: 0 auto; /* Centre le carrousel horizontalement */
  background-color: var(
    --primary-color
  ); /* Couleur de fond derrière les marges du carrousel */
  padding: 10px; /* Espacement intérieur pour le contenu du carrousel */
}

.carousel-item img {
  width: 100%; /* Les images du carrousel occupent 100% de la largeur du conteneur */
  height: 50vh; /* Hauteur fixe équivalente à 50% de la hauteur de la vue */
  object-fit: cover; /* Ajuste la taille de l'image pour couvrir le conteneur */
  border-radius: 10px;
}

/* Styles pour les boutons */
.btn-next {
  margin-top: 20px;
  background-color: var(
    --btn-primary-color
  ); /* Utilisation de la variable pour la couleur de fond */
  color: #fff; /* Texte blanc */
  border-color: var(--btn-primary-color); /* Couleur de la bordure */
  margin-bottom: 20px; /* Marge en bas des boutons */
  margin-right: 10px; /* Marge à droite entre les boutons */
}

/* Hover et focus styles */
.btn-next:hover,
.btn-next:focus {
  background-color: #4e555b; /* Couleur plus foncée au survol */
  border-color: #4e555b; /* Couleur de bordure au survol */
}

/* Styles spécifiques pour le bouton précédent */
#btn-prev {
  background-color: var(
    --btn-secondary-color
  ); /* Utilisation de la variable pour la couleur de fond */
  border-color: var(--btn-secondary-color); /* Couleur de la bordure */
}

/* Hover et focus styles pour le bouton précédent */
#btn-prev:hover,
#btn-prev:focus {
  background-color: #4e555b; /* Couleur plus foncée au survol */
  border-color: #4e555b; /* Couleur de bordure au survol */
}

#map {
  height: 500px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.img-ribat {
  height: 500px;
  border-radius: 20px;
  margin-bottom: 20px;
}
