:root {
  --body-backgroud-color: #cba57c;
  --primary-color: #efbf6a;
  --secondary-color: #754820;
  --font-family-text: "Playwrite IT Moderna", sans-serif;
  --font-family-title: "Roboto Condensed", sans-serif;
  --font-size: 18px;
}
