.about-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
.about-image {
  flex: 1;
  background-image: url("c6ea1a45-988f-4b81-ad12-d0af0988bac9.jpg"); /* Remplacez 'your-image.jpg' par le chemin de votre image */
  background-size: cover;
  background-position: center;
}
.about-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.about-title {
  font-size: 3rem;
  color: #333;
  position: relative;
  margin-bottom: 2rem;
}
.about-title::before,
.about-title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #efbf6a;
  left: 0;
}
.about-title::before {
  top: -20px;
}
.about-title::after {
  bottom: -20px;
}
.about-text {
  font-size: 1.2rem;
  color: #555;
  text-align: center;
}
