.container-title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #efbf6a;
  height: 50vh;
  text-align: center;
  padding-bottom: 20px;
}
.title-content {
  margin-top: 10px;
  z-index: 2;
}
.title-content h1 {
  font-size: 5vw;
}

.title-content h5 {
  font-size: 2vw;
}

.title-content h1,
.title-content h5 {
  margin: 0;
}
.partner-logos {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 20px;
}
.partner-logos img {
  max-width: 100px;
  margin: 0 10px;
}
.custom-carousel .carousel-inner,
.custom-carousel .carousel-item {
  height: 50vh;
  z-index: 0;
}
.custom-carousel .carousel-item img {
  object-fit: cover;
  height: 100%;
}

.wave-container {
  position: absolute;
  top: -90px;
  left: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  z-index: 1;
}
.wave-svg {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}

.wave-svg-overlay {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}
.wave-svg-overlay path {
  fill: rgb(239, 191, 106, 0.5);
}

.arrow-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid black;
  margin: 20px auto;
}

.arrow-down:hover {
  border-top-color: #c99400;
}

.start-visit {
  text-align: center;
  font-size: 1.5vw;
}

body {
  margin: 0;
  background-color: var(--body-backgroud-color);
  color: #434343;
  font-family: var(--font-family-text);
}

h1 {
  font-family: var(--font-family-title);
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}
